* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222831;
}

#score {
    position: relative;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    z-index: 2;
}

#snake-body {
    width: 48px;
    height: 48px;
    background-color: #00ADB5;
    position: absolute;
    z-index: 1;
}

#apple {
    width: 48px;
    height: 48px;
    background-color: red;
    position: absolute;
}