* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
}

#snake-body {
    width: 48px;
    height: 48px;
    background-color: #00ADB5;
    position: absolute;
    z-index: 1;
}

#apple {
    width: 48px;
    height: 48px;
    background-color: red;
    position: absolute;
}